.container {
    margin-top: 10rem;
    margin-left: 10%;
    min-height: 15rem;
    max-width: 25rem;
    padding: 2rem;
    border-radius: 20px;
}

.title {
    margin-bottom: 1rem;
    text-align: left;
}

.p {
    color: var(--color-white);
    text-align: left;
    margin-bottom: 3rem;
}
